@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3> This site show the top 5 restaurants in Provo and allows you to make your own list.</h3>
</div>
<br />
<a class="btn btn-dark" asp-action="RestList">View List</a>
